<div class="push"></div>
  <footer>
    <aside class="wrap">
      <div>
        <ol class="prev-posts">
          <p class="list-title">Dienstleistungen</p>
          {% for page in site.pages %}
            {% if page.categories contains 'dienstleistung' %}
              <li>
                <span class="recent-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title | strip_html | strip_newlines | truncate: 30 }}</a></span>
              </li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
      <div class="social">
        <ul>
          <p class="list-title">Kontakt</p>
            <li><a id="mail" href="mailto:{{ site.owner.email }}"><span class="foot-link">Email</span></a></li>

            {% if site.owner.twitter %}
            <li><a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><span class="foot-link">@{{ site.owner.twitter }}</span></a></li>
            {% endif %}
        </ul>
      </div>
    </aside>
    <small>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</small>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
