  <div class="push"></div>
  <footer>
    <aside class="wrap">
        <div class="address">
            <p class="list-title">Kontakt</p>
            <address>
               <strong>Notariat Dr. Handruedi Stadler</strong><br/>
               Hellgasse 23<br/>
               CH-6460 Altdorf<br/>
               Tel: +41 41 870 56 57<br/>
               Email: <a href='mailto:{{ site.owner.email }}'> {{ site.owner.email }}</a>
            </address>
        </div>
    </aside>
    <div id="map"></div>

    <small>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</small>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery.min.js"><\/script>')</script>

  </body>
</html>
